version: "3.8"

services:
  php: 
    build: 
      context: .
      dockerfile: Dockerfile 
    container_name: php-fpm 
    volumes: 
      - ./src:/var/www/html
    networks:
      - webnet
  
  nginx: 
    image: nginx:latest
    container_name: nginx-web 
    ports: 
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf 
    depends_on:
      - php 
    networks: 
      - webnet
  
networks:
  webnet: 
    driver: bridge